body {
	height: minmax(75vh, 100vh);
	font-family: Liberation Sans, sans-serif;
	min-width: 99%;
	display: table;
	header {
		height: 25vh;
		margin: 5% 10% 0 10%;
		h1 {
			cursor: default;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 8vw;
			color: black;
			transition: 0.5s;
			&:hover {
				color: grey;
				transition: 0.5s;
				font-size: 10vw;
			}
		}
	}
	main {
		height: 30vh;
		padding: 2.5% 0 2.5% 0;
		display: table-row-group;
		div {
			form {
				p {
					font-size: 3vw;
				}
				&:not(:last-child) {
					height: 100%;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					transition: 3s;
				}
				&:last-child {
					text-align: center;
				}
				label {
					font-size: 2vw;
					font-weight: bold;
					transition: 0.5s;
					&:hover {
						color: grey;
						font-size: 2.1vw;
						transition: 0.5s;
					}
				}
				input[type=number] {
					margin-left: 1vw;
					margin-right: 2vw;
					width: 7.5vw;
					height: 2.5vh;
					transition: 1s;
					&:hover {
						width: 15vw;
						transition: 1s;
					}
				}
				input[type=text] {
					margin-left: 1vw;
					margin-right: 2vw;
					width: 7.5vw;
					height: 2.5vh;
					transition: 1s;
					&:hover {
						width: 15vw;
						transition: 1s;
					}
				}
			}
			table {
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				td {
					font-size: 1.5vw;
					text-align: center;
					border: 0.5vh solid black;
					padding: 1vh;
					transition: 1s;
					&:hover {
						font-size: 2vw;
						padding: 3vh;
						transition: 1s;
					}
					span {
						color: black;
						font-weight: bold;
						transition: 1s;
						&:hover {
							color: grey;
							font-size: 2vw;
							transition: 1s;
						}
					}
				}
			}
		}
	}
	footer {
		margin: 0 10% 0 10%;
		text-align: center;
		display: table-footer-group;
		div {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			p {
				color: black;
				font-size: 1.5vw;
				font-weight: bold;
				a {
					color: blue;
					text-decoration: none;
					transition: 0.5s;
					&:hover {
						font-size: 1.8vw;
						transition: 0.5s;
					}
				}
			}
		}
	}
}