body {
    font-family: Arial;
}
h1{
    text-align: center;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    width: 30%;
    margin: 5% auto;
}
li {
    display: inline;
}
li a {
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: gray;
}
form {
    color: black;
    width: 50%;
    margin: 5% 25%;
    text-align: center;
}
table {
    width: 50%;
    margin: 1% auto;
}
th:hover {
    color: black;
}
td:hover {
    color: grey;
}
th, td {
    text-align: center;
    border-style: solid;
    padding: 1px;
}
table, th, td {
    color: black;
	border: 3px;
    border-color: black;
    border-collapse: collapse;
}
