@font-face {
  font-family: optimus_princeps;
  src: url(../font/optimusprinceps/OptimusPrincepsSemiBold.ttf);
}
@font-face {
  font-family: ellfield;
  src: url(../font/ellfield/ELLFIELD.ttf);
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
body a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
body .cadastro {
  background-color: white;
  border-radius: 25px;
  padding: 5vh 2.5vw 5vh 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
