@font-face {
  font-family: optimus_princeps;
  src: url(../font/optimusprinceps/OptimusPrincepsSemiBold.ttf);
}
@font-face {
  font-family: ellfield;
  src: url(../font/ellfield/ELLFIELD.ttf);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body header {
  width: 100%;
  height: 25%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header a {
  text-decoration: none;
}
body header .logo h1 {
  font-family: optimus_princeps;
  font-size: 3em;
  margin: 0;
  padding: 1vh 1vw 1vh 1vw;
}
body header .logo h1 a {
  color: white;
}
body header .nav nav {
  padding: 0;
}
body header .nav nav ul {
  margin: 0;
  list-style: none;
}
body header .nav nav ul li {
  display: inline-block;
}
body header .nav nav ul li a {
  padding: 0 1vw 0 1vw;
  font-family: future_mood;
  font-size: 34px;
  color: grey;
  font-family: ellfield;
  font-size: 1.5em;
}
body main {
  height: 70%;
}
body main .carrossel {
  height: 75vh;
}
body main .carrossel img {
  width: 100%;
  height: 100%;
}
body main .cards {
  margin: 5em;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}
body main .cards .card {
  width: 15vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
body main .cards .card img {
  width: 100%;
}
body main .cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body main .cards .card .container {
  background-color: brown;
  padding: 2px 16px;
}
body main .cadastro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .cadastro form {
  background-image: url("/pw/loja_virtual/imagens/charutos_cubanos.jpg");
  background-repeat: no-repeat;
}
body footer {
  width: 100%;
  height: 10%;
  background-color: black;
}
body footer p {
  text-align: center;
  padding: 2.5vh 0 2.5vh 0;
  color: white;
  margin: 0;
}
body footer p a {
  color: grey;
  text-decoration: none;
  transition: 0.3s;
}
body footer p a:hover {
  color: white;
}
