@font-face {
  font-family: optimus_princeps;
  src: url(../font/optimusprinceps/OptimusPrincepsSemiBold.ttf);
}
@font-face {
  font-family: ellfield;
  src: url(../font/ellfield/ELLFIELD.ttf);
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body header {
  width: 100%;
  height: 25%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header a {
  text-decoration: none;
}
body header .logo h1 {
  font-family: optimus_princeps;
  font-size: 3em;
  margin: 0;
  padding: 1vh 1vw 1vh 1vw;
}
body header .logo h1 a {
  color: white;
}
body header .nav nav {
  padding: 0;
}
body header .nav nav ul {
  margin: 0;
  list-style: none;
}
body header .nav nav ul li {
  display: inline-block;
}
body header .nav nav ul li a {
  padding: 0 1vw 0 1vw;
  font-family: future_mood;
  font-size: 34px;
  color: grey;
  font-family: ellfield;
  font-size: 1.5em;
}
body main {
  height: 70%;
}
body main .carrossel {
  height: 75vh;
}
body main .carrossel img {
  width: 100%;
  height: 100%;
}
body main .cards .card {
  width: 15vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
body main .cards .card img {
  width: 100%;
}
body main .cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body main .cards .card .container {
  padding: 2px 16px;
}
body footer {
  height: 10%;
}
