@font-face {
    font-family: optimus_princeps;
    src: url(../font/optimusprinceps/OptimusPrincepsSemiBold.ttf);
}
@font-face {
    font-family: ellfield;
    src: url(../font/ellfield/ELLFIELD.ttf);
}
body {
    margin: 0;
    padding: 0;
    // width: 100%;
    height: 100%;
    header {
        width: 100%;
        height: 20%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
        }
        .logo {
            // float: left;
            h1 {
                font-family: optimus_princeps;
                font-size: 3em;
                margin: 0;
                padding: 1vh 1vw 1vh 1vw;
                a {
                    color: white;
                }
            }
        }
        .nav {
            // float: right;
            nav {
                padding: 0;
                ul {
                    margin: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        a {
                            padding: 0 1vw 0 1vw;
                            font-family: future_mood;
                            font-size: 34px;
                            color: grey;
                            font-family: ellfield;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
    main {
        height: 70%;
        .carrossel {
            img {
                width: 100%;
                height: 100%;
            }
        }
        .cards {
            .card {
            }
        }
    }
    footer {
        height: 10%;
    }
}