@font-face {
    font-family: optimus_princeps;
    src: url(../font/optimusprinceps/OptimusPrincepsSemiBold.ttf);
}
@font-face {
    font-family: ellfield;
    src: url(../font/ellfield/ELLFIELD.ttf);
}
body {
    margin: 0;
    padding: 0;
    // width: 100%;
    height: 100%;
    header {
        width: 100%;
        height: 25%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
        }
        .logo {
            // float: left;
            h1 {
                font-family: optimus_princeps;
                font-size: 3em;
                margin: 0;
                padding: 1vh 1vw 1vh 1vw;
                a {
                    color: white;
                }
            }
        }
        .nav {
            // float: right;
            nav {
                padding: 0;
                ul {
                    margin: 0;
                    list-style: none;
                    li {
                        display: inline-block;
                        a {
                            padding: 0 1vw 0 1vw;
                            font-family: future_mood;
                            font-size: 34px;
                            color: grey;
                            font-family: ellfield;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
    main {
        height: 70%;
        .carrossel {
            height: 75vh;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .cards {
            margin: 5em;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.5em;
            .card {
                width: 15vw;
                // height: 45vh;
                // Valores provisórios
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: .3s;
                img {
                    width: 100%;
                }
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
                .container {
                    background-color: brown;
                    padding: 2px 16px;
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 10%;
        background-color: black;
        p {
            text-align: center;
            padding: 2.5vh 0 2.5vh 0;
            color: white;
            margin: 0;
            a {
                color: grey;
                text-decoration: none;
                // Aparentemente não é necessário definir o "transition" novamente no :hover
                transition: .3s;
                &:hover {
                    color: white;
                }
            }
        }
    }
}
