body {
  height: 75vh;
  width: 99vw;
}
body header {
  height: 25vh;
  margin: 5% 10% 0 10%;
}
body header h1 {
  cursor: default;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 8vw;
  color: black;
  transition: 0.5s;
}
body header h1:hover {
  color: grey;
  transition: 0.5s;
  font-size: 10vw;
}
body main {
  height: 25vh;
}
body main div form:not(:last-child){
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 3s;
}
body main div form:last-child{
  text-align: center;
}
body main div form label {
  font-size: 2vw;
  font-weight: bold;
  transition: 0.5s;
}
body main div form label:hover {
  color: grey;
  font-size: 2.1vw;
  transition: 0.5s;
}
body main div form input[type=number], input[type=text] {
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 0.5vh;
  width: 7.5vw;
  height: 2.5vh;
  transition: 1s;
}
body main div form input[type=number]:hover, input[type=text]:hover {
  width: 15vw;
  transition: 1s;
}
body main div form p {
  font-size: 3vw;
}
body footer {
  height: 25vh;
  margin: 5% 10% 0 10%;
  text-align: center;
}
body footer div {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer div p {
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
}
body footer div p a {
  color: blue;
  text-decoration: none;
  transition: 0.5s;
}
body footer div p a:hover {
  font-size: 1.8vw;
  transition: 0.5s;
}
