@font-face {
  font-family: liberation-sans;
  src: url(../font/liberation-sans/LiberationSans-Regular.ttf);
}
body {
  width: 100%;
  height: 100%;
  font-family: liberation-sans;
}
body div {
  display: flex;
  align-items: center;
  justify-content: center;
}
